.header {
    background-image: url('../../../media/index/dive.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: dimgrey;
   }
/* .hdivider {
    background: white;
    height: 1px;
    border-bottom: 1px solid white;
} */