{% extends "blog/main.html" %}
<!-- {% load staticfiles %} -->

<!-- <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Опубликовать">
</form> -->

{% block content %}  

{{ form.non_field_errors }}
<script type="text/javascript" src="{% static 'blog/js/fullscreen.js' %}"></script>
<div class="fullscreen-div">
<form method="post">{% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ form.as_p }}
                <h5>Вы действительно хотите удалить комментарий?</h5>
                <button type="submit" class="btn btn-primary">Удалить</button>
                <p></p>
                <!-- <input type="submit" value="Опубликовать"> -->
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}