{% extends "blog/main.html" %}
{% load staticfiles %}

<link href="{% static 'blog/css/post_details.css' %}" rel="stylesheet">

{% block content %}  
<!-- Page Content -->
<title>ГлубокО - {{object.title}}</title>

<body>
    <script type="text/javascript" src="{% static 'blog/js/fullscreen.js' %}"></script>
    <div class=fullscreen-div>
        <div class=post-details>
            <h1 class="text-left">{{object.title}}</h1>
        </div>
        <div class="container">
            <div class="row"> 
                <div class="col-lg-7 col-sm-12">
                    <h5 class="text-left">{{object.author}}</h5>
                </div>
                <div class="col-lg-5 col-sm-12 text-right">
                    <p class="text-white-75">{{object.create_date}} @ 
                        <a href="/blogs/{{object.blog.pk}}">{{object.blog}}</a></p>   
                </div>    
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    {% if user.is_authenticated and user.pk == object.author.pk %}
                        <p class="text-white-75"><small>
                            <a href="/post/{{object.pk}}/edit/">Редактировать</a>  
                            <a href="/post/{{object.pk}}/delete/">Удалить</a>
                        </small></p> 
                    {% endif %}
                </div>
            </div>
            <hr class="divider my-4">
            <div class="row"> 
                <div class="col-12">
                    <p class="text-left">{{object.text}}</p>
                </div>    
            </div>
            <hr class="divider my-4">
            <div class="row">
                <div class="col-12 text-right">
                    {% if object.create_date != object.update_date %}
                        <p class="text-white-75"><small>Отредактировано {{object.update_date}}
                        </small></p> 
                    {% endif %}
                </div>
            </div>
            <div class="text-left">
                <h5>Комментарии</h5>
                {% for comment in object.comment.all %}
                <div class="card">
                    <div class="card-body">
                        <p class="card-text text-white-75">
                            <small>{{comment.author}} 
                                {% if comment.create_date != comment.update_date %}
                                    {{object.update_date}} (ред.)
                                {% else %}
                                    {{comment.create_date}}
                                {% endif %}
                                {% if user.is_authenticated and user.pk == comment.author.pk %}
                                    <a href="/comment/{{comment.pk}}/edit/">Редактировать</a>
                                    <a href="/comment/{{comment.pk}}/delete/">Удалить</a>
                                {% endif %}
                            </small>
                        </p>
                        <p>{{comment.text}}</p>
                    </div>
                </div>
                {% endfor %}
                <form method="post">{% csrf_token %}
                    {% if user.is_authenticated %}
                    <div class="card">
                        <div class="card-body">        
                            <p><input type="text" class="form-control" placeholder='Добавить комментарий' name="text"></p>
                            <button type="submit" class="btn btn-primary">Добавить</button>
                        </div>
                    </div>
                    {% endif %}
                </form>
                <p></p>
            </div>
        <!-- container -->
        </div>
    </div>    
</body>
{% endblock %}




