<!doctype  html>
<html  lang="ru">
  <head>
    <link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">
    <title>ГлубокО - Блог о глубинном обучении</title>
  </head>
  <body>
    <div  class="container">
      <div  class="row justify-content-center">
        <h1>ГлубокО - Блог о глубинном обучении</h1>
        {% block registration %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>