.account-details h1{
    padding-bottom: 10px;
    padding-left: 55px;
    color: white;
    background-color: #4682B4;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
}
